body{margin:0;padding:0;background:#046878;font-size:16px;}
canvas{display: block;position: fixed;z-index:-1;}
ul,ul li{list-style: none;padding:0;margin:0;}
a,a:hover,a:focus{color:yellow;}
.panel{opacity:0.9;}
li{padding:5px 0;}
.panel-default > .panel-heading{color:#666;}
.all-change{transition:all 200ms linear 0s;}
.myinfo-wrap,.myinfo{width:300px;height: 100vh;position: fixed;top:0;left:0;color:#333;}
.myinfo-wrap{background:#fff;opacity: 0.5;}
.wrap{margin:20px 20px 20px 320px;font-size:16px;}
.myinfo > .head{background: url("../img/head.jpg") no-repeat;width:150px;height:150px;border-radius: 75px;margin:20px 75px;box-shadow: 0 0 10px #333;}
.myinfo > .concat{margin-left:30px;}
.myinfo > .concat > li{overflow: hidden;padding:5px 0;}
.myinfo > .concat > li > span{width:40px;text-align: right;display: block;float:left;margin-right:10px;}
.myinfo > p{padding:30px;text-indent: 2em;line-height: 30px;}
.timezone{width:6px;border-radius:3px;background: #339999;min-height: 200px;margin:0 auto;position: relative;}
.timezone .time{width:1160px;margin-left:-580px;position: relative;overflow: hidden;margin-bottom:40px;color:#fff;}
.timezone .time i{width:20px;height:20px;border-radius: 10px;background: #fff;position: absolute;left:573px;}
.timezone .time h2{position: absolute;left:598px;top:0;font-size:20px;color:#fff;margin:0;font-weight: bold;}
.timezone .time .box{border-radius: 10px;background: #339999;border:5px solid #efefef;width:480px;float:left;padding:10px;}
.timezone .time .box p{border-bottom:2px solid #dedede;padding-bottom:5px;}
.timezone .time .box span{display:block;line-height:20px;border-top:2px solid #dedede;padding-top:10px;margin-top:10px;}
.timezone .time:nth-child(even) .box{float:right;}
.timezone .time:nth-child(even) h2{left:506px;}
.timeline{background: none;border:none;}
.company h4{padding-bottom:10px;border-bottom:1px solid #ccc;margin-top:20px;font-weight: bold;}
.proinfo table td.key{background: #efefef;text-align: right;color:#999;font-weight: bold;}